argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
ascii-magic==1.6
cffi==1.15.1
colorama==0.4.6
contourpy==1.0.7
cycler==0.11.0
fonttools==4.61.0
kiwisolver==1.4.4
matplotlib==3.7.0
packaging==23.0
perlin-noise==1.12
Pillow==12.2.0
prompt-toolkit==3.0.36
pycparser==2.21
pycryptodome==3.19.1
pyparsing==3.0.9
python-dateutil==2.8.2
questionary==1.10.0
six==1.16.0
termcolor==2.2.0
wcwidth==0.2.6
